.dina_dual_button-container {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.dina_button {
    position: relative;
    min-width: fit-content;
    text-align: center;
    color: #ffffff;
    font-size: 16px;
    line-height: 1;
    transition: all 300ms ease 0ms;
}

.dina_button:hover {
    color: #fff;
}

.dina_button_one-icon,
.dina_button_two-icon {
    position: absolute;
    font-size: inherit;
    line-height: inherit;
    font-style: inherit;
    transition: all 300ms ease 0ms;
}

.dina_dual_button-separator {
    display: flex;
    justify-content: center;
    align-items: center;
}
