.dina_pricelist-heading {
    display: flex;
    justify-content: space-between;
    flex-basis: 100%;
}

.dina_pricelist-title,
.dina_pricelist-price {
    margin: 0;
    padding: 0;
}

.dina_pricelist-divider {
    flex-grow: 1;
}

.dina_pricelist-image-wrapper {
    display: flex;
}

.dina_pricelist-content {
    flex: 1;
}

.dina_pricelist-image img {
    display: block;
}
